
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hero-unit">
    <h1><%= @registration.study_group.subject.name %></h1> 
    <p>Taught by <%= @registration.study_group.tutor.name%></p> 
    <p>
        <%="#{@registration.study_group.student_limit-@registration.study_group.students.count}" %> seats available   
    </p>

    <h3>Cost per hour</h3>
    <p><%= number_to_currency(@registration.study_group.cost_per_hour) %></p>

    <%= render 'registration_button' %>
  </div>
