<div style="margin-top: 100px">
</div>
<table class="table table-bordered", id="study_groups_table">
  <thead>
    <td>Class Name</td>
    <td>Taught By</td>
    <td>City</td>
    <td>Zipcode</td>
    <td>Distance</td>
    <td>Students</td>
    <td>Spots Open</td>
    <td>Cost</td>
    <td>Register</td>
  </thead>

  <tbody>
    <% @study_groups.each do |sg| %>
      <tr>
        <td><%= "#{sg.subject.name}" %></td>
        <td><%= link_to "#{sg.tutor.user.name}", tutor_url(sg.tutor) %></td>
        <td><%= "#{sg.tutor.user.city}, #{sg.tutor.user.state}" %></td>
        <td><%= "#{sg.tutor.user.zip}" %></td>
        <td><%= "#{Zipcode.distance(sg.tutor.user.zipcode, @search_zip ).to_i}" %></td>
        <td><%= "#{sg.students.count}" %></td>
        <td><%= "#{sg.student_limit-sg.students.count}" %></td>
        <td><%= "#{sg.cost_per_hour}" %></td>
        <td><%= "button to register" %></td>
      </tr>
    <% end %>
  </tbody>
</table>