<h1>StudyGroups#show</h1>

<div class="hero-unit">
	<h1><%= @study_group.subject.name %></h1> 
	<p>Taugh by <%= @tutor.user.name%></p> 
 	<p>
<%="#{@study_group.student_limit-@study_group.students.count}" %>seats available	
	<a class="btn btn-primary btn-large">
			Book now
		</a>
	</p>

		<h3>Students </h3> 
		<% @tutor.students.each do |student| %>
			<li><%=student.name%></li>
		<%end%>
	<br>
	<h3>Cost per hour</h3>
	<p>$<%= @study_group.cost_per_hour%></p> 
<h3>Syllabus</h3> 
<p><%= @study_group.syllabus%></p> 
	</br>
	
	
	<br>
	<h3>Posts</h3>
	 <% @study_group.study_group_posts.each do |post| %>
	<strong><%= post.title%></strong>
		<!-- <font color="blue" ><p>By: <%#= post.user.name%> (tutor)</p></font> -->
		<p><%= post.body%></p> 
		 <% post.study_group_comments.each do |comment| %>
 <font color="grey"><p style="margin-left: 90px;"><%= comment.user.name%> </font><%= comment.body%> | <font color="grey"><%= comment.created_at%></font></p>
		</style>
			<%end%>
			<div id="newcomment"></div>
			<p>	<%#= link_to 'New comment', new_comment_url %></p> 
	<%end%>
		<div id="newpost"></div>
		<p>	<%= link_to "New post", new_study_group_study_group_post_path(@study_group.id), :remote => true %></p>
		

		
		
		
		