<div>
  <%= image_tag "http://graph.facebook.com/#{Random.rand(10000)}/picture", :size => "75x75" %>
  <%= image_tag "http://graph.facebook.com/#{Random.rand(10000)}/picture", :size => "75x75" %>
  <%= image_tag "http://graph.facebook.com/#{Random.rand(10000)}/picture", :size => "75x75" %>
  <%= image_tag "http://graph.facebook.com/#{Random.rand(10000)}/picture", :size => "75x75" %>
  <%= image_tag "http://graph.facebook.com/#{Random.rand(10000)}/picture", :size => "75x75" %>
  <%= image_tag "http://graph.facebook.com/#{Random.rand(10000)}/picture", :size => "75x75" %>
  <%= image_tag "http://graph.facebook.com/#{Random.rand(10000)}/picture", :size => "75x75" %>
  <%= image_tag "http://graph.facebook.com/#{Random.rand(10000)}/picture", :size => "75x75" %>
  <%= image_tag "http://graph.facebook.com/#{Random.rand(10000)}/picture", :size => "75x75" %>
  <%= image_tag "http://graph.facebook.com/#{Random.rand(10000)}/picture", :size => "75x75" %>
  <%= image_tag "http://graph.facebook.com/#{Random.rand(10000)}/picture", :size => "75x75" %>
  <%= image_tag "http://graph.facebook.com/#{Random.rand(10000)}/picture", :size => "75x75" %>
  <%= image_tag "http://graph.facebook.com/#{Random.rand(10000)}/picture", :size => "75x75" %>
  <%= image_tag "http://graph.facebook.com/#{Random.rand(10000)}/picture", :size => "75x75" %>
  <%= image_tag "http://graph.facebook.com/#{Random.rand(10000)}/picture", :size => "75x75" %>
  <%= image_tag "http://graph.facebook.com/#{Random.rand(10000)}/picture", :size => "75x75" %>
</div>