<div class="container">
	<div class="opaque_background">
	 
	
	
	
	
	
		<div class = "container_tutor">
		  <div class="row">
		    <div class="span12">
			    <header>
		      <div class="row">
		      	<div class="span6">
			        <img src="http://placehold.it/85x85" alt="tutor profile pic">
			        <h1>Guitar Lessons</h1>
			        <p>taughtBy <%= @tutor.user.name %><p>
			      </div>
		      	<div class="span6">
			        <p class="btn">Contact Me!</p>
			       <!-- <p class ="btn">Facebook</p> -->
			        <p><%= render 'users/contact_info', :user => @tutor.user %></p>
			      </div>
		     </div>
		    </header>
		  </div>
		</div> <!-- end of container_tutor> -->
	
 


<!-- Start of Left Side Bar>
<!-- <aside></aside> -->


			<div class="tabbable tabs-left">
			  <ul class="nav nav-tabs" id="myTab">
			    <li><a href="#lA" data-toggle="tab">Profile</a></li>
			    <li><a href="#lB" data-toggle="tab">Classes</a></li>
			    <li><a href="#lC" data-toggle="tab">Reviews</a></li>
			    <li><a href="#lD" data-toggle="tab">FAQs</a></li>
			    <li><a href="#lE" data-toggle="tab">Current Students</a></li>
			    <li><a href="#lF" data-toggle="tab">Calendar</a></li>
			  </ul>

  <div class="tab-content">
    <div class="tab-pane" id="lA">
      <div class="profile">
				<h3>Welcome</h3>
      	<p><%= @tutor.tutor_welcome %></p>
      </div>
      <div class = "google_map span6">
        <div id="map_canvas" 
        data-latitude = '<%= "#{@tutor_zipcode.latitude}" %>'
        data-longitude = '<%= "#{@tutor_zipcode.longitude}" %>'></div>
      </div>
    </div>
   
    <div class="tab-pane" id="lB">     
       <table class="tutor-classes-table">
         <thead>
            <td>Class Name</td>
            <td>Taught By</td>
            
            <td>Students</td>
            <td>Spots Open</td>
            <td>Cost</td>
            <td>Register</td>
          </thead>
          <tbody>
             <% @study_groups.each do |sg| %>
               <tr>
                 <td><%= link_to "#{sg.subject.name}", study_group_url(sg) %></td>
                 <td><%= link_to "#{sg.tutor.user.name}", tutor_url(sg.tutor) %></td>
                 <td><%= "#{sg.students.count}" %></td>
                 <td><%= "#{sg.student_limit-sg.students.count}" %></td>
                 <td><%= "#{sg.cost_per_hour}" %></td>
                 <% if session[:uid].present? %>
                   <td><%= link_to "Register Now!", new_study_group_registration_url(:study_group_id => sg.id) %></td>
                 <%else%>
                   <td><%=link_to "Sign In to Register", sign_in_url%></td>
                 <% end %>
               </tr>
             <% end %>
           </tbody>
          </table>
     
    </div>
    <div class="tab-pane" id="lC" class="reviews">
      <%= render 'study_groups/reviews'%>
    </div>
    <div class="tab-pane" id="lD">
       <%= render 'study_groups/faqs'%>
    </div>
    <div class="tab-pane" id="lE">
       <%= render 'study_groups/students'%>
    </div>
    <div class="tab-pane" id="lF">
       <div class='calendar' data-id = '<%="#{@tutor.id}"%>' ></div>
    </div>
    </div>
  </div>
</div> <!-- end of tabbable tabs-left -->
			
			
			
			
			
  </div> <!-- end of opaque background -->
</div> <!-- end of container -->
 	
