<div class="container">
	<div class="opaque_background">
			<div class = "container_tutor">
			  <div class="row">
			    <div class="span12">
				    <header>
			        <div class="row">
  			      	<div class="span6">
  				        <%#= image_tag "/assets/miyagi_profile.jpg", :size => "75x75" %>
  				        <%= image_tag "http://graph.facebook.com/#{Random.rand(10000)}/picture", :size => "75x75" %>
  				        <h1><%= @tutor.study_groups.first.subject.name %> Lessons</h1> <!-- Dynamic what exactly are you going to call this -->
  				        <!-- ><p class="tutor-name"><a href="http://localhost:3000">taughtby</a> <%= @tutor.user.name %><p> -->
  				        <p class="tutor-name"><a href="http://localhost:3000">taughtby</a> <%= @tutor.user.name %><p>
  					      <div class="share">
  						      <p>share:</p>
  									<img src="http://placehold.it/15x15" alt="facebook">
  									<img src="http://placehold.it/15x15" alt="twitter">
  									<img src="http://placehold.it/15x15" alt="email">
  						    </div>
  				      </div> <!-- <div class="span6"> -->
  				      <div class="fuck-off">
  			      		<div class="span4 offset2">	 
  								  <a href="#"><i class="icon-envelope icon-white"></i>Contact Me</a>
    								<p class="contact-details"><%= render 'users/contact_info', :user => @tutor.user %></p>
  					      </div>
  			        </div> <!-- <div class="fuck-off"> -->
  			      </div> <!-- <div class="row"> -->
			      </header>
			    </div> <!-- <div class="span12"> -->
			  </div> <!-- row -->
			</div> <!-- end of container_tutor> -->
	
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs" id="myTab">
        <li><a href="#lA" data-toggle="tab">Profile</a></li>
        <li><a href="#lB" data-toggle="tab">Syllabus</a></li>
        <li><a href="#lE" data-toggle="tab">Reviews</a></li>
        <li><a href="#lC" data-toggle="tab">Students</a></li>
        <li><a href="#lD" data-toggle="tab">Calendar</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane" id="lA">
          <%= render 'profile' %>
    		</div> <!-- end of id="lA" -->
        <div class="tab-pane" id="lB">  
          <%= render 'syllabus' %>
    		</div> <!-- end of id="lB" -->
        <div class="tab-pane" id="lC">
          <%= render 'students'%>
          <!-- <%#= render 'study_groups/students'%> -->
        </div> <!-- end of id="lE" -->
        <div class="tab-pane" id="lD">
           <div class='calendar' data-id = '<%="#{@tutor.id}"%>' ></div>
        </div> <!-- end of id="lF" -->
      </div> <!-- end of tab-content -->
    </div> <!-- end of tabbable tabs-left -->

  </div> <!-- end of opaque background -->
</div> <!-- end of container -->
 	
