
<div class = "container_tutor">
<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span6">
        <img class="tutor_img" src="/assets/fry_face.jpg" width="80px" height="85px">
        <h1>Guitaar Lessons for Beginners</h1>
        <p>taughtBy <%= @tutor.user.name %><p>
      </div>
      <div class="span6">
        <p class="btn">Contact Me!</p>
        <p><%= render 'users/contact_info', :user => @tutor.user %></p>
      </div>
    </div>
  </div>
</div>
<hr>






<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li><a href="#lA" data-toggle="tab">Profile</a></li>
    <li><a href="#lB" data-toggle="tab">Classes</a></li>
    <li><a href="#lC" data-toggle="tab">Reviews</a></li>
    <li><a href="#lD" data-toggle="tab">FAQs</a></li>
    <li><a href="#lE" data-toggle="tab">Current Students</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" id="lA">
      <div class="profile">
      	<p><%= @tutor.tutor_welcome %></p>
      </div>
      <div class = "google_map" onload="google_map_initialize()">
        <div id="map_canvas"></div>
      </div>
    </div>
    <div class="tab-pane" id="lB">
       <p>I'm in Section B.</p>
    </div>
    <div class="tab-pane" id="lC" class="reviews">
      <%= render 'study_groups/reviews'%>
    </div>
    <div class="tab-pane" id="lD">
       <%= render 'study_groups/faqs'%>
    </div>
    <div class="tab-pane" id="lE">
       <%= render 'study_groups/students'%>
    </div>
    </div>
  </div>
</div>



<div class="student-list">
	<h3>Students</h3>
	
</div>

<p class ="btn">Facebook</p>

</div>